<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="http://cdn-img.easylogo.cn/gif/51/51700.gif" />
    </header>
    <section id="container">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
        <ul>
            <li>© 2014 Kevin Barry</li>
            <li class="ajax-get" data-url="@Url.Action("Index", "Home")">Home</li>
            <li class="ajax-get" data-url="@Url.Action("Index", "About")">About</li>
            <li class="ajax-get" data-url="@Url.Action("Index", "Work")">Work</li>
            <li class="ajax-get" data-url="@Url.Action("Index", "Careers")">Careers</li>
            <li class="ajax-get" data-url="@Url.Action("Index", "Contact")">Contact</li>
        </ul>
    </footer>
</body>
</html>
