<h2>About</h2>
<ul>
    <li class="ajax-get" data-url="@Url.Action("Who", "About")">Who</li>
    <li class="ajax-get" data-url="@Url.Action("What", "About")">What</li>
    <li class="ajax-get" data-url="@Url.Action("Why", "About")">Why</li>
    <li class="ajax-get" data-url="@Url.Action("How", "About")">What</li>
    <li class="ajax-get" data-url="@Url.Action("Where", "About")">Where</li>
</ul>
<div id="content">
    Content.
</div>