@model Week6CodeChallenge.Models.ContactMeCompany

<script type="text/javascript">
    $(document).ready( function(){
        ajaxThanks();
    });
</script>

@{
    ViewBag.Title = "Contact Me";
}

<div id="contactContainer">
<h2 align="center"> Contact Me</h2>
<form id="contactForm" action="@Url.Action("Index", "Contact")" method ="post">

<p align="center">
    @Html.ValidationMessageFor(x => x.FirstName)
    @Html.ValidationMessageFor(x => x.LastName)
</p>
<p align="center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name
    @Html.TextBoxFor(x => x.FirstName)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name
    @Html.TextBoxFor(x => x.LastName)  
</p>
 <p align="center">
        @Html.ValidationMessageFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.PhoneNumber)
</p>
    <p align="center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address
        @Html.TextBoxFor(x => x.Email)
        Contact Number
        @Html.TextBoxFor(x => x.PhoneNumber)

    </p>
    <p align="center">
        @Html.ValidationMessageFor(x => x.Comment)
        </p>
<p align="center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company Name
    @Html.TextBoxFor(x => x.CompanyName)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Description
    @Html.TextBoxFor(x => x.ProjectDescription)  
</p>
<p align="center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment&nbsp;
        @Html.TextAreaFor(x => x.Comment) 
    </p>
    <p align="center">
        <input type="submit" value="Submit" />
        </p>
</form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}